.mm-menu {
  --mm-color-border: theme_color("primary");
  --mm-color-text: theme_color("primary");

  .mm-btn_next {
    &::after {
      border-color: theme_color("primary");
      border-width: 1px;
    }
  }
}
