.posts-navigation {
  padding: 20px 0;

  .nav-links {
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-between;

    > div {
      a {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}
