.widget-table-of-contents {
  ul {
    li {
      a {
        text-decoration: underline;
        text-decoration-thickness: 1px;
      }

      &.item-h3 {
        padding-left: 20px;
        font-size: 1rem;
      }
    }
  }
}
