.highlighter {
  background: linear-gradient(to right, theme-color("fluo") 50%, transparent 50%) right bottom;
  background-size: 200% 100%;
  transition: all 0.8s ease-out;

  &:hover {
    text-decoration: none;
    background-position: left bottom;
  }
}

body {
  .wrap {
    margin-top: 2rem;

    .sidebar {
      a {
        @extend .highlighter;
      }
    }

    .main {
      article {
        .entry-content {
          a {
            @extend .highlighter;

            text-decoration: underline !important;
          }
        }
      }
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
