/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #1d1d1f,
  secondary: #f5f5f7,
  fluo: #ff6,
  referral: #065fd4,
  fpurple: #eddbf9,
  fpink: #f9d8ec,
  fgreen: #ccebd6,
  forange: #ffdcc3,
  fblue: #d9e2fc,
  fgray: #ebebec,
  fyellow: #f9e68c,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
$font-family-sans-serif: "Ubuntu", sans-serif;
$font-weight-base: 300;
$font-weight-bold: 500;
$headings-font-weight: 700;
$body-bg: #f5f5f7;
