.single-book {
  .related-books {
    article {
      header {
        h4 {
          font-size: 1rem;
        }
      }
    }
  }
}

.post-type-archive-book {
  .book {
    img {
      aspect-ratio: 9 / 16;
      object-fit: cover;
    }
  }
}
