.banner .navbar-nav li {
  @extend .nav-item;
}

.banner .navbar-nav a {
  @extend .nav-link;
  @extend .text-uppercase;
}

.admin-bar {
  .banner {
    &.fixed-top {
      top: 46px;
    }
  }
}

.navbar-brand {
  font-size: 1.875rem;
  font-weight: 700;

  > span {
    //
  }
}

@media (min-width: 783px) {
  .admin-bar {
    .banner {
      &.fixed-top {
        top: 32px;
      }
    }
  }
}
